{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}
    <div class="container">
        <ul class="list-group">
            {% for category in categories %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   href="{{ path('category_show', {'slug': category.slug}) }}">
                    {{ category.name }}
                    <span class="badge badge-primary badge-pill">{{ category.totalProducts }}</span>
                </a>
            {% else %}
                <li class="list-group-item disabled">Not records found</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
